doctype html
html(lang='en')
    // Mirrored from demo.interface.club/limitless/layout_1/LTR/login_advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Oct 2015 11:47:18 GMT
    // Added by HTTrack
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    // /Added by HTTrack
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Cerebelo Almais - Gestão de Empresas
        // Global stylesheets
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900', rel='stylesheet', type='text/css')
        link(href="{{ route('cerebelo.index') }}/css/cerebelo/layout.css", rel='stylesheet', type='text/css')
        // /global stylesheets
        // Core JS files
        script(type='text/javascript', src="{{ route('cerebelo.index') }}/js/cerebelo/layout.js")
        // /core JS files
        // Theme JS files
        block theme-js-files
        // /theme JS files
    body
        // Main navbar
        .navbar.navbar-inverse
            .navbar-header
                a.navbar-brand(href='index.html')
                    img(src='assets/images/logo_light.png', alt='')
                ul.nav.navbar-nav.pull-right.visible-xs-block
                    li
                        a(data-toggle='collapse', data-target='#navbar-mobile')
                            i.icon-tree5
            #navbar-mobile.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#')
                            i.icon-display4
                            span.visible-xs-inline-block.position-right  Go to website
                    li
                        a(href='#')
                            i.icon-user-tie
                            span.visible-xs-inline-block.position-right  Contact admin
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown')
                            i.icon-cog3
                            span.visible-xs-inline-block.position-right  Options
        // /main navbar
        // Page container
        .page-container.login-container
            // Page content
            .page-content
                // Main content
                .content-wrapper
                    // Content area
                    .content
                        block content
                        
                        
                        // Footer
                        .footer.text-muted
                            | © 2017. 
                            a(href='#') Cerebelo
                            |  by 
                            a(href='http://emiolo.com', target='_blank') eMiolo.com
                        // /footer
                    // /content area
                // /main content
            // /page content
        // /page container
    // Mirrored from demo.interface.club/limitless/layout_1/LTR/login_advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Oct 2015 11:47:18 GMT
