// Mirrored from demo.interface.club/limitless/layout_1/LTR/index.html by HTTrack Website Copier/3.x [XR&CO"2014], Tue, 27 Oct 2015 10:29:46 GMT
// Added by HTTrack
meta(http-equiv="content-type", content="text/html;charset=UTF-8")
// /Added by HTTrack
head
    meta(charset="utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    meta(name="viewport", content="width=device-width, initial-scale=1")

    block title
        title Almais

    // Global stylesheets
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900", rel="stylesheet", type="text/css")
    link(href="{{ route('cerebelo.index') }}/css/cerebelo/layout.css", rel="stylesheet", type="text/css")
    link(href="{{ route('cerebelo.index') }}/css/cerebelo/print.css", rel="stylesheet", type="text/css", media="print")

    link(rel="apple-touch-icon", sizes="57x57", href="{{ route('cerebelo.index') }}/assets/images/favs/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="{{ route('cerebelo.index') }}/assets/images/favs/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="{{ route('cerebelo.index') }}/assets/images/favs/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="{{ route('cerebelo.index') }}/assets/images/favs/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="{{ route('cerebelo.index') }}/assets/images/favs/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="{{ route('cerebelo.index') }}/assets/images/favs/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="{{ route('cerebelo.index') }}/assets/images/favs/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="{{ route('cerebelo.index') }}/assets/images/favs/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="{{ route('cerebelo.index') }}/assets/images/favs/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192",  href="{{ route('cerebelo.index') }}/assets/images/favs/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="{{ route('cerebelo.index') }}/assets/images/favs/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="{{ route('cerebelo.index') }}/assets/images/favs/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="{{ route('cerebelo.index') }}/assets/images/favs/favicon-16x16.png")
    link(rel="manifest", href="{{ route('cerebelo.index') }}/assets/images/favs/manifest.json")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="{{ route('cerebelo.index') }}/assets/images/favs/ms-icon-144x144.png")
    meta(name="theme-color", content="#ffffff")

    block theme-css-files


    // Core JS files
    script(src="{{ route('cerebelo.index') }}/js/cerebelo/layout.js")
    script(src="{{ route('cerebelo.index') }}/js/cerebelo/vue/vue.js")
    // /core JS files

    // Theme JS files
    block theme-js-files
        script(src="{{ route('cerebelo.index') }}/js/cerebelo/pages/dashboard.js")
    // /theme JS files