// Main sidebar
.sidebar.sidebar-main.bg-blue-800
  .sidebar-content
    // User menu
    .sidebar-user
      .category-content
        .media
          a.media-left(href="#")
            img.img-circle.img-sm(src="{{ route('cerebelo.index') }}/assets/images/logo-almais.png", alt="")
          .media-body
            span.media-heading.text-semibold Almais
            .text-size-mini.text-muted
              i.icon-pin.text-size-small
              |   Juiz de Fora, MG
    // /user menu
    // Main navigation
    #sidebar-menu.sidebar-category.sidebar-category-visible
      .category-content.no-padding
        ul.navigation.navigation-main.navigation-accordion
          // Main
          li.pl-5.pr-5.pb-5
            .form-group.has-feedback
              input.form-control(type="text", placeholder="" v-model="searchText")
              .form-control-feedback
                i.icon-search4.text-size-base
            ul
              li(v-repeat="users | filterBy searchText") ((name))
          li.active
            a(href="{{ route('cerebelo.index') }}")
              i.icon-home4
              span Dashboard
          // /Principal
          // Menu
          li.navigation-header
            span.text-orange-300 Projetos
            i.icon-menu(title="Main pages")
          li
            a(href="{{ route('cerebelo.index') }}/budgets")
              i.icon-calculator2.text-orange-300
              span Orçamento
          li
            a(href="{{ route('cerebelo.index') }}/lines")
              i.icon-equalizer4.text-orange-300
              span Linhas
          li
            a(href="{{ route('cerebelo.index') }}/clients")
              i.icon-address-book2.text-orange-300
              span Clientes
          li
            a(href="{{ route('cerebelo.index') }}/building-works")
              i.icon-office.text-orange-300
              span Obras
          li
            a(href="{{ route('cerebelo.index') }}/products")
              i.icon-color-sampler.text-orange-300
              span Produtos e Acessórios
          // /Menu
          // Fornecedores
          //li.navigation-header
          //  span.text-blue-300 Fornecedores
          //  i.icon-menu(title="Fornecedores")
          //li
          //  a(href="fornecedores.html")
          //    i.icon-users2.text-blue-300
          //    span Fornecedores
          //// /Fornecedores
          //
          //// Financeiro
          li.navigation-header
            span.text-green-300 Financeiro
            i.icon-menu(title="Financeiro")
          li
            a(href="{{ route('cerebelo.fixed-costs.index') }}")
              i.icon-cash3.text-green-300
              span Custo fixo
          //li
          //  a(href="contas_a_pagar.html")
          //    i.icon-cash3.text-green-300
          //    span Contas a Pagar
          //li
          //  a(href="contas_a_receber.html")
          //    i.icon-piggy-bank.text-green-300
          //    span Contas a Receber
          //li
          //  a(href="fluxo_de_caixa.html")
          //    i.icon-chart.text-green-300
          //    span Caixa
          //li
          //  a(href="#")
          //    i.icon-safe.text-green-300
          //    span Configurações Financeiras
          //    ul
          //      li
          //        a(href="contas_bancarias.html") Contas Financeiras
          //      li
          //        a(href="planos_de_contas.html") Planos de Contas
          //      li
          //        a(href="tipos_de_boletos.html") Configurar Boletos
          //// /Financeiro
          //
          //// Recursos Humanos
          //li.navigation-header
          //  span.text-warning-300 Recursos Humanos
          //  i.icon-menu(title="Recursos Humanos")
          //li
          //  a(href="funcionarios.html")
          //    i.icon-users4.text-warning-300
          //    span Funcionários
          //li
          //  a(href="remuneracao_beneficios.html")
          //    i.icon-users4.text-warning-300
          //    span Remuneração e Benefícios
          //// /Recursos Humanos
          //// Relatórios
          //li.navigation-header
          //  span.text-info-300 Relatórios
          //  i.icon-menu(title="Relatórios")
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 01
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 02
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 03
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 04
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 05
          //// /Relatórios
          //// Configurações
          li.navigation-header
            span.text-danger-300 Sistema
            i.icon-menu(title="Relatórios")
          //li
          //  a(href="configuracoes_cliente.html")
          //    i.icon-cog4.text-danger-300
          //    span Configurações do Cliente
          li
            a(href="{{ route('cerebelo.index') }}/users")
              i.icon-person.text-danger-300
              span Usuários
          // /Configurações
    // /main navigation
// /main sidebar
