// Main navbar
.navbar.bg-blue-700
    .navbar-header
        a.navbar-brand(href="{{ route('cerebelo.index') }}")
            img(src="{{ route('cerebelo.index') }}/assets/images/logo_light.png", alt="")
        ul.nav.navbar-nav.visible-xs-block
            li
                a(data-toggle="collapse", data-target="#navbar-mobile")
                    i.icon-tree5.text-white
            li
                a.sidebar-mobile-main-toggle
                    i.icon-paragraph-justify3
    #navbar-mobile.navbar-collapse.collapse
        ul.nav.navbar-nav
            li
                a.sidebar-control.sidebar-main-toggle.hidden-xs
                    i.icon-paragraph-justify3
        ul.nav.navbar-nav.navbar-right
            li.dropdown.dropdown-user
                a.dropdown-toggle.text-white(data-toggle="dropdown",)
                    img(src="{{ route('cerebelo.index') }}/assets/images/logo-almais.png", alt="")
                    span {{ Auth::user()->name }}
                    i.caret
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a(href="#")
                            i.icon-cog5
                            |  Configurações da Conta
                    li
                        a(href="{{ route('cerebelo.index') }}/logout")
                            i.icon-switch2
                            |  Logout
// /main navbar
