* {
    background:transparent !important;
    color:#000 !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important;
}
body {
    margin:0;
    padding:0;
    line-height: 1.4em;
    font-size: 12pt;
    color: #000;
}
input, textarea {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 0 !important;
  }
@page {
    margin: 0.5cm;
}
h1 {
    font-size: 1pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 14pt;
}

.btnPlus, .btnMinus{
    display: none;
}

#calculators > .panel-white{
    page-break-after: always;
}

.panel-body{
    padding: 0 !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    padding: 5px 20px !important;
}
.highlight-cost{
    font-size: 18pt;
    font-style: italic;
}
.footage-weight .col-md-6{
    display: inline-block;
}