extends ../../_components/auth/layout
    
block content
    // Password recovery
    form(role="form" method="POST" action="{{ url('/password/email') }}")
        .panel.panel-body.login-form
            .text-center
                .icon-object.border-warning.text-warning
                    i.icon-spinner11
                h5.content-group
                    | Password recovery 
                    small.display-block We'll send you instructions in email
            .form-group.has-feedback(class!="{{ $errors->has('name') ? ' has-error' : '' }}")
                input.form-control(type='email', placeholder='Your email' name="email" value="{{ old('email') }}" required)
                .form-control-feedback
                    i.icon-mail5.text-muted
                | @if ($errors->has('email'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('email') }}
                | @endif 
                    
            button.btn.bg-blue.btn-block(type='submit')
                | Reset password 
                i.icon-arrow-right14.position-right
    // /password recovery
