extends ../../_components/auth/layout

block theme-js-files
    script(type='text/javascript', src="{{ route('cerebelo.index') }}/js/cerebelo/pages/login.js")
    
block content
    // Registration form
    form(role="form" method="POST" action="{{ url('/password/reset') }}")
        .panel.panel-body.login-form
            .text-center
                .icon-object.border-success.text-success
                    i.icon-plus3
                h5.content-group
                    | Reset Password
                    small.display-block All fields are required
                    
            | @if (session('status'))
            .alert.alert-success {{ session('status') }}
            | @endif
                    
            .content-divider.text-muted.form-group
                span Your credentials
                
            .form-group.has-feedback.has-feedback-left(class!="{{ $errors->has('name') ? ' has-error' : '' }}")
                | {{ csrf_field() }}
                input.form-control(type='text', placeholder='Your name' name="name" value="{{ old('name') }}" required autofocus)
                .form-control-feedback
                    i.icon-user-check.text-muted
                | @if ($errors->has('name'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('name') }}
                | @endif    
                
            .form-group.has-feedback.has-feedback-left(class!="{{ $errors->has('name') ? ' has-error' : '' }}")
                input.form-control(type='text', placeholder='Your email' name="email" value="{{ old('email') }}" required)
                .form-control-feedback
                    i.icon-mention.text-muted
                | @if ($errors->has('email'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('email') }}
                | @endif    
                
            .content-divider.text-muted.form-group
                span Your privacy
                
            .form-group.has-feedback.has-feedback-left(class!="{{ $errors->has('password') ? ' has-error' : '' }}")
                input.form-control(type='password', placeholder='Create password' name="password" value="{{ old('password') }}" required)
                .form-control-feedback
                    i.icon-user-lock.text-muted
                | @if ($errors->has('password'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('password') }}
                | @endif
                
            .form-group.has-feedback.has-feedback-left(class!="{{ $errors->has('password_confirmation') ? ' has-error' : '' }}")
                input.form-control(type='password', placeholder='Repeat password' name="password" value="{{ old('password_confirmation') }}" required)
                .form-control-feedback
                    i.icon-user-lock.text-muted
                | @if ($errors->has('password_confirmation'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('password_confirmation') }}
                | @endif  
                    
            .content-divider.text-muted.form-group
                span Additions
                
            .form-group
                .checkbox
                    label
                        input.styled(type='checkbox', checked='checked')
                        | 										Send me 
                        a(href='#') test account settings
                .checkbox
                    label
                        input.styled(type='checkbox', checked='checked')
                        | 										Subscribe to monthly newsletter
                .checkbox
                    label
                        input.styled(type='checkbox')
                        | 										Accept 
                        a(href='#') terms of service
                        
            button.btn.bg-teal.btn-block.btn-lg(type='submit')
                | Register 
                i.icon-circle-right2.position-right
    // /registration form
