extends ./../layout.pug

block title
    title Cadastros - Cadastro de Cliente

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Cliente

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li Cadastro de Cliente
    li.active Cadastro de Cliente

block content
    // Starting step
    .panel.panel-white
        .panel-heading
            h5.panel-title Inserir Novo Cliente
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
        | {{ Form::model($model, array('route' => 'cerebelo.clients.index', 'class' => 'form-horizontal')) }}

        | {!! Form::hidden('id', old('id')) !!}
        .panel-body
            form.form-horizontal(action='#')
                .row
                    .col-md-6
                        fieldset
                            .form-group
                                label.col-lg-3.control-label Nome:
                                .col-lg-9
                                    .row
                                        .col-md-12
                                            | {!! Form::text('name', old('name'), [
                                            | 'class' => 'form-control mb-15',
                                            | 'placeholder' => 'Nome',
                                            | ]) !!}
                            //-.form-group
                            //-    label.col-lg-3.control-label Contato:
                            //-    .col-lg-9
                            //-        .row
                            //-            .col-md-12
                            //-                | {!! Form::text('contact', old('contact'), [
                            //-                | 'class' => 'form-control mb-15',
                            //-                | 'placeholder' => 'Contato',
                            //-                | ]) !!}
                            .form-group
                                label.col-lg-3.control-label E-mail:
                                .col-lg-9
                                    .row
                                        .col-md-12
                                            | {!! Form::email('email', old('email'), [
                                            | 'class' => 'form-control mb-15',
                                            | 'placeholder' => 'E-mail',
                                            | ]) !!}
                            .form-group
                                label.col-lg-3.control-label Telefone:
                                .col-lg-9
                                    .row
                                        .col-md-12
                                            | {!! Form::text('phone1', old('phone1'), [
                                            | 'class' => 'form-control mb-15 phone',
                                            | 'placeholder' => '(__) ____-____',
                                            | 'pattern' => "\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"
                                            | ]) !!}
                            .form-group
                                label.col-lg-3.control-label Telefone 2:
                                .col-lg-9
                                    .row
                                        .col-md-12
                                            | {!! Form::text('phone2', old('phone2'), [
                                            | 'class' => 'form-control mb-15 phone',
                                            | 'placeholder' => '(__) ____-____',
                                            | 'pattern' => "\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"
                                            | ]) !!}
                    .col-md-6
                        fieldset
                            .form-group
                                label.col-lg-3.control-label CNPJ/CPF:
                                .col-lg-9
                                    .row
                                        .col-md-12
                                            | {!! Form::text('identifier', old('identifier'), [
                                            | 'class' => 'form-control mb-15',
                                            | 'placeholder' => 'CNPJ / CPF',
                                            | ]) !!}
                            .form-group
                                label.col-lg-3.control-label Endereço:
                                .col-lg-9
                                    .row
                                        .col-md-6
                                            | {!! Form::text('zip_code', old('zip_code'), [
                                            | 'class' => 'form-control mb-15',
                                            | 'placeholder' => 'CEP',
                                            | ]) !!}
                                        .col-md-12
                                            | {!! Form::text('address', old('address'), [
                                            | 'class' => 'form-control mb-15',
                                            | 'placeholder' => 'Endereço',
                                            | ]) !!}
                                        .col-md-6
                                            | {!! Form::number('address_number', old('address_number'), [
                                            | 'class' => 'form-control mb-15',
                                            | 'placeholder' => 'Número',
                                            | ]) !!}

                                            | {!! Form::text('city', old('city'), [
                                            | 'class' => 'form-control mb-15',
                                            | 'placeholder' => 'Cidade',
                                            | ]) !!}
                                        .col-md-6
                                            | {!! Form::text('address_extra', old('address_extra'), [
                                            | 'class' => 'form-control mb-15',
                                            | 'placeholder' => 'Complemento',
                                            | ]) !!}
                                            .mb-15
                                                | {!! Form::select(
                                                | 'state',
                                                | [null => ''] + $states,
                                                | old('state'), [
                                                | 'class' => 'select mb-15',
                                                | 'data-placeholder' => 'Estado',
                                                | ]) !!}
                            .form-group
                                label.col-lg-3.control-label Status:
                                .col-lg-9
                                    | {!! Form::select(
                                    | 'active',
                                    | [null => '', 0 => 'Inativo', 1 => 'Ativo'],
                                    | old('active'), [
                                    | 'class' => 'select',
                                    | 'data-placeholder' => 'Status',
                                    | ]) !!}
                .text-right
                    button.btn.btn-primary.salvar(type="submit")
                        | {{ isset($model->id) ? 'Salvar' : 'Adicionar' }} cliente
                        i.icon-plus3.position-right
                    | @if (isset($model->id))
                    a.btn.btn-danger(style="margin-left: 5px;", href="{{route('cerebelo.clients.index')}}")
                        | Cancelar
                    | @endif
        // /2 columns form
        | {{ Form::close() }}
    // /table
    .panel.panel-white
        .panel-heading
            h6.panel-title Clientes Cadastrados
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
        .panel-body
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th ID
                        th Cliente
                        th CNPJ/CPF
                        th Status
                        th.text-center Actions
                tbody
                    tr
                        td XXX
                        td Nome do Cliente
                        td 111.222.333/0001-34
                        td
                            span.label.label-success Ativa
                        td.text-center
                            ul.icons-list
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        i.icon-menu9
                                    ul.dropdown-menu.dropdown-menu-right
                                        li
                                            a.editar.text-info-600(href='cadastrar_turma_curso.html')
                                                i.icon-pencil3
                                                |  Editar
                                        li
                                            a.excluir.text-danger-700(href='#')
                                                i.icon-cross3
                                                |  Excluir
                                        li
                                            a.ativar.text-green-800(href='#')
                                                i.icon-checkmark
                                                |  Ativar
                                        li
                                            a.inativar.text-slate-800(href='#')
                                                i.icon-blocked
                                                |  Inativar
            // /2 columns form
    #myModal(class="modal", role="dialog", data-backdrop="static")
        .modal-dialog
    script(type="text/javascript").
        window.onload = function () {
            $(".phone").mask("(00) 0000-00009");
            tableSetup("{{route('cerebelo.clients.datatables')}}");
        };

        var view = function (route) {
            var $modal = jQuery('#myModal');
            var $modal_contents = $modal.find('.modal-dialog');

            jQuery.ajax({
                url: route,
                type: "GET"
            }).done(function (response) {
                if (!response.error) {
                    $modal.modal('show');
                    $modal_contents.html(response.html);
                } else {
                    console.error(response);
                }

                $modal_contents.unblock();
            }).error(function (response) {

                $modal_contents.unblock();
                console.error(response);
            });
        };

        $("input[name=zip_code]").keyup(function() {
            var value = $(this).val().replace(/[^0-9]/g, '');
            if (value.length === 8) {
                $.ajax({
                    url: "https://viacep.com.br/ws/" + value + "/json/unicode/?callback=fillAddress"
                }).done(function () {
                    // its over
                });
            }
        });

        function fillAddress(data) {
            var fills = [
                ["zip_code", "cep"],
                ["address", "logradouro"],
                ["address_extra", "complemento"],
                ["city", "localidade"]
                //, ["state", "uf"]
            ];

            var fill;
            for (var i in fills) {
                if (fills.hasOwnProperty(i)) {
                    fill = fills[i];

                    $("input[name=" + fill[0] + "]").val(data[fill[1]]);
                }
            }

            var $select = $('select[name=state]');
            $select.select2("val", data["uf"]);
        }