.modal-content
    .modal-header.bg-primary-700
        h6.modal-title
            i.icon-info22
            |  Visualizar
    .modal-body
        .form-group
            .row
                .col-md-12.content-group
                    .table-responsive
                        table.table
                            tbody
                                tr
                                    td.text-bold.text-right(width='10%') ID:
                                    td {{ $model->id }}
                                tr
                                    td.text-bold.text-right(width='10%') Nome:
                                    td {{ $model->name }}
                                tr
                                    td.text-bold.text-right(width='10%') E-mail:
                                    td {{ $model->email }}
                                tr
                                    td.text-bold.text-right(width='10%') Tel.:
                                    td {{ $model->phone1 }}
                                tr
                                    td.text-bold.text-right(width='10%') Tel. 2:
                                    td {{ $model->phone2 }}
                                tr
                                    td.text-bold.text-right(width='10%') CNPJ/CPF:
                                    td {{ $model->identifier }}
                                tr
                                    td.text-bold.text-right(width='10%') Endereço:
                                    td {{ $model->address }}
                                tr
                                    td.text-bold.text-right(width='10%') Número:
                                    td {{ $model->address_number }}
                                tr
                                    td.text-bold.text-right(width='10%') Complemento:
                                    td {{ $model->address_extra }}
                                tr
                                    td.text-bold.text-right(width='10%') CEP:
                                    td {{ $model->zip_code }}
                                tr
                                    td.text-bold.text-right(width='10%') Cidade:
                                    td {{ $model->city }}
                                tr
                                    td.text-bold.text-right(width='10%') UF:
                                    td {{ $model->state }}
                                tr
                                    td.text-bold.text-right(width='10%') Criação:
                                    td {{ $model->created_at }}
    .modal-footer
        button.btn.btn-link(data-dismiss='modal', type='button') Fechar
