extends ../_components/auth/layout

block theme-js-files
    script(type='text/javascript', src="{{ route('cerebelo.index') }}/js/cerebelo/pages/login.js")
    
block content
    // Advanced login

    form.form-horizontal(action="{{ url('/login') }}", method="POST")
        |{{ csrf_field() }}
        
        .panel.panel-body.login-form
            .text-center
                .icon-object.border-slate-300.text-slate-300
                    i.icon-reading
                h5.content-group
                    | Login to your account 
                    small.display-block Your credentials
                    
            .form-group.has-feedback.has-feedback-left(class!="{{ $errors->has('name') ? ' has-error' : '' }}")
                input.form-control(type='text', placeholder='Your email' name="email" value="{{ old('email') }}" required)
                .form-control-feedback
                    i.icon-mention.text-muted
                | @if ($errors->has('email'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('email') }}
                | @endif  
                    
            .form-group.has-feedback.has-feedback-left(class!="{{ $errors->has('password') ? ' has-error' : '' }}")
                input.form-control(type='password', placeholder='Your password' name="password" value="{{ old('password') }}" required)
                .form-control-feedback
                    i.icon-user-lock.text-muted
                | @if ($errors->has('password'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('password') }}
                | @endif   
                    
            .form-group.login-options
                .row
                    .col-sm-6
                        label.checkbox-inline
                            input.styled(type='checkbox', checked='checked', name="remember")
                            | 											Remember
                    .col-sm-6.text-right
                        a(href='login_password_recover.html') Forgot password?
                        
            .form-group
                button.btn.bg-blue.btn-block(type='submit')
                    | Login 
                    i.icon-arrow-right14.position-right  
            //-.content-divider.text-muted.form-group
                span or sign in with
            //-ul.list-inline.form-group.list-inline-condensed.text-center
                li
                    a.btn.border-indigo.text-indigo.btn-flat.btn-icon.btn-rounded(href='#')
                        i.icon-facebook
                li
                    a.btn.border-pink-300.text-pink-300.btn-flat.btn-icon.btn-rounded(href='#')
                        i.icon-dribbble3
                li
                    a.btn.border-slate-600.text-slate-600.btn-flat.btn-icon.btn-rounded(href='#')
                        i.icon-github
                li
                    a.btn.border-info.text-info.btn-flat.btn-icon.btn-rounded(href='#')
                        i.icon-twitter
            //-.content-divider.text-muted.form-group
                span Don't have an account?
            //-a.btn.btn-default.btn-block.content-group(href="{{ url('/register') }}") Sign up
            span.help-block.text-center.no-margin
                | By continuing, you're confirming that you've read our 
                a(href='#') Terms & Conditions
                |  and 
                a(href='#') Cookie Policy
    // /advanced login