extends ./layout.pug

block title
    title Orçamento

block page-title
    span.text-semibold Orçamento
    |  - Cerebelo Almais

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/budgets.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Orçamento
    li Orçamento
    li.active Orçamento

block content
    // Starting step
    .panel.panel-white
        .panel-heading
            h5.panel-title Orçamentos
            .heading-elements
                a.btn.btn-primary(type='button', href="{{ route('cerebelo.building-works.index') }}")
                    i.icon-plus22
                    |  Calculadora
        .panel-body
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th Cliente
                        th Obra
                        th CNPJ/CPF
                        th Núm. do Orçamento
                        th Valor
                        th Status
                        th.text-center Actions
                tbody
                    tr
                        td eMiolo.com
                        td Nome da Obra
                        td 111.222.333/0001-34
                        td 002165486
                        td R$30.000,00
                        td
                            span.label.label-success Ativa
                        td.text-center
                            a.editar.text-info-600(href='#', alt='Calculadora', title='Calculadora')
                                i.icon-calculator
                    //tr
                    //    td eMiolo.com
                    //    td Nome da Obra
                    //    td 111.222.333/0001-34
                    //    td 002165486
                    //    td R$30.000,00
                    //    td
                    //        span.label.label-success Ativa
                    //    td.text-center
                    //        ul.icons-list
                    //            li.dropdown
                    //                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    //                    i.icon-menu9
                    //                ul.dropdown-menu.dropdown-menu-right
                    //                    li
                    //                        a.editar.text-info-600(href='cadastrar_turma_curso.html')
                    //                            i.icon-pencil3
                    //                            |  Editar
                    //                    li
                    //                        a.excluir.text-danger-700(href='#')
                    //                            i.icon-cross3
                    //                            |  Excluir
                    //                    li
                    //                        a.ativar.text-green-800(href='#')
                    //                            i.icon-checkmark
                    //                            |  Ativar
                    //                    li
                    //                        a.inativar.text-slate-800(href='#')
                    //                            i.icon-blocked
                    //                            |  Inativar
                //tfoot
                //    tr
                //        td.input-filter Cliente
                //        td.input-filter Obra
                //        td.select-filter CNPJ/CPF
                //        td.select-filter Núm. do Orçamento
                //        td
                //        td
    script(type="text/javascript")
        | window.onload = function(){tableSetup("{{route('cerebelo.building-works.budgets.datatables', 'budget')}}");}