extends ./layout.pug

block title
    title Cadastros - Cadastro de Obra

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Obra

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/building_works.js")

block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li Cadastro de Obra
    li.active Cadastro de Obra
block content
    // Starting step
    .panel.panel-white
        .panel-heading
            h5.panel-title Inserir Nova Obra
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
        | {{ Form::model($model, array('route' => 'cerebelo.building-works.index', 'class' => 'form-horizontal')) }}

        | {!! Form::hidden('id', old('id')) !!}
        input(type="hidden", name="calc")
        .panel-body
            .row
                .col-md-6
                    fieldset
                        .form-group
                            label.col-lg-3.control-label Cliente:
                            .col-lg-9
                                | @if (count($people) == 1)
                                input(type="hidden", readonly=true, value="{{ array_keys($people)[0] }}")
                                input(type="text", class="form-control mb-15", readonly=true, value="{{ array_values($people)[0] }}")
                                | @else
                                | {!! Form::select(
                                | 'people_id',
                                | [null => ''] + $people,
                                | old('people_id'), [
                                | 'class' => 'select select-search',
                                | 'data-placeholder' => 'Nome do cliente',
                                | ]) !!}
                                | @endif
                        .form-group
                            label.col-lg-3.control-label Obra:
                            .col-lg-9
                                .row
                                    .col-md-12
                                        | {!! Form::text('name', old('name'), [
                                        | 'class' => 'form-control mb-15',
                                        | 'placeholder' => 'Nome da obra',
                                        | ]) !!}
                .col-md-6
                    fieldset
                        .form-group
                            label.col-lg-3.control-label Status:
                            .col-lg-9
                                | {!! Form::select(
                                | 'active',
                                | [null => '', 0 => 'Inativo', 1 => 'Ativo'],
                                | old('active'), [
                                | 'class' => 'select mb-15',
                                | 'data-placeholder' => 'Status da obra',
                                | ]) !!}
            .text-right
                button.btn.btn-primary.calc.salvar(type="submit")
                    i.icon-calculator
                button.btn.btn-primary.salvar(type="submit", style="margin-left: 5px;")
                    | {{ isset($model->id) ? 'Salvar' : 'Adicionar' }}
                    i.icon-plus3.position-right
                | @if (isset($model->id))
                a.btn.btn-danger(style="margin-left: 5px;", href="{{route('cerebelo.building-works.index')}}")
                    | Cancelar
                | @endif
        // /2 columns form
        | {{ Form::close() }}
    // /table
    .panel.panel-white
        .panel-heading
            h6.panel-title Obras Cadastradas
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
        .panel-body
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th ID
                        th Obra
                        th Cliente
                        th Custo
                        th Status
                        th Actions
                tbody
                    tr
                        td XXX
                        td XXXXXXXXXX
                        td R$ XX.XXX,XX
                        td XXXXXX
                        td
                            span.label.label-success Ativa
                        td.text-center
                            ul.icons-list
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        i.icon-menu9
                                    ul.dropdown-menu.dropdown-menu-right
                                        li
                                            a.editar.text-info-600(href='#')
                                                i.icon-pencil3
                                                |  Editar
                                        li
                                            a.excluir.text-danger-700(href='#')
                                                i.icon-cross3
                                                |  Excluir
                                        li
                                            a.ativar.text-green-800(href='#')
                                                i.icon-checkmark
                                                |  Ativar
                                        li
                                            a.inativar.text-slate-800(href='#')
                                                i.icon-blocked
                                                |  Inativar
    script(type="text/javascript")
        | window.onload = function(){tableSetup("{{route('cerebelo.building-works.datatables')}}");}