.panel.panel-white#calculatorID
    .panel-heading
        h6.panel-title
            | Linha: <b>(( lineDetails.name ))</b>
        .heading-elements
            span.label.label-success.heading-text(title="Preço de venda")
                | R$ (( call(calculated.sell.calculatedValue) | money ))
            span.label.label-danger.heading-text(title="Gasto total")
                | R$ (( call(calculated.total.calculatedValue) | money ))
            ul.icons-list
                li
                    a(data-action='collapse', onclick='forceCollapse("#calculatorID")')
                li
                    a(data-action='close', onclick='removeCalculator();')
    .panel-body
        .row
            input.form-control.mb-15(
            type='hidden',
            v-model='lineDetails.line_id',
            name='calculators[calculatorID][lineDetails][line_id]'
            )
            input.form-control.mb-15(
            type='hidden',
            v-model='lineDetails.name',
            name='calculators[calculatorID][lineDetails][name]'
            )
            input.form-control.mb-15(
            type='hidden',
            v-model='lineDetails.calculatorType',
            name='calculators[calculatorID][lineDetails][calculatorType]'
            )
            input.form-control.mb-15(
            type='hidden',
            v-model='lineDetails.price',
            name='calculators[calculatorID][lineDetails][price]'
            )
            input.form-control.mb-15(
            type='hidden',
            v-model='lineDetails.calculatorType',
            name='calculators[calculatorID][lineDetails][calculatorType]'
            )
            .col-md-6
                .row.size.footage-weight
                    .col-md-6
                        label.col-lg-3.control-label Metragem:
                        .col-lg-9
                            input.form-control.mb-15(
                            type='number',
                            v-model='lineDetails.meters',
                            name='calculators[calculatorID][lineDetails][meters]'
                            )
                    .col-md-6(v-if="lineDetails.calculatorType == 0")
                        label.col-lg-3.control-label Peso:
                        .col-lg-9
                            input.form-control.mb-15(
                            type='number',
                            v-model='lineDetails.kilo',
                            name='calculators[calculatorID][lineDetails][kilo]'
                            )
        .row
            .col-md-5
                fieldset
                    table#table-azul.table.table-striped.table-hover.table-calculadora
                        thead
                            tr
                                th
                                th R$/Kg
                                th R$ Valor
                        // Início calculadora
                        tbody
                            tr(v-for='product in products')
                                td
                                    | (( product.name ))

                                td
                                    input.form-control.formatted(
                                    v-if='!product.calculated',
                                    placeholder='R$/Kg',
                                    @keyup="updateFormatted('products', product.id, $event)",
                                    :value="product.price_formatted",
                                    :name="'calculators[calculatorID][products][' + (( product.id )) + '][price_formatted]'"
                                    )
                                    //-input.form-control(
                                    //-v-if='!product.calculated',
                                    //-type='number',
                                    //-placeholder='R$/Kg',
                                    //-v-model='product.price',
                                    //-:name="'calculators[calculatorID][products][' + (( product.id )) + '][price]'"
                                    //-)
                                td
                                    input.form-control(
                                    v-if='!product.calculated',
                                    readonly='',
                                    type='text',
                                    placeholder='R$ Valor',
                                    v-model='calc(product, 1)'
                                    )
                                    input.form-control(
                                    v-else='',
                                    readonly='',
                                    type='text',
                                    placeholder='R$ Valor',
                                    v-model='call(product.calculatedValue, 1)'
                                    )
                            tr.espaco
                                td
                                td
                                td
                            tr
                                td
                                    | (( calculated.cost_installation.name ))
                                td
                                    input.form-control(
                                    type='number',
                                    v-model='calculated.cost_installation.value',
                                    name="calculators[calculatorID][calculated][cost_installation][value]"
                                    )
                                td
                                    input.form-control(
                                    type='text',
                                    readonly='',
                                    v-model='call(calculated.cost_installation.calculatedValue, 1)'
                                    )
                            tr
                                td
                                    | (( calculated.cost_installation2.name ))
                                td
                                    input.form-control(
                                    type='number',
                                    v-model='calculated.cost_installation2.value',
                                    name="calculators[calculatorID][calculated][cost_installation2][value]"
                                    )
                                td
                                    input.form-control(
                                    type='text',
                                    readonly='',
                                    v-model='call(calculated.cost_installation2.calculatedValue, 1)'
                                    )
                            tr
                                td
                                    | (( calculated.delivery.name ))
                                td
                                td
                                    input.form-control(
                                    type='text',
                                    readonly='',
                                    v-model='call(calculated.delivery.calculatedValue, 1)'
                                    )
                            tr
                                td
                                    | (( calculated.commission.name ))
                                td
                                    input.form-control(
                                    type='number',
                                    placeholder='Valor',
                                    v-model='calculated.commission.percent',
                                    name="calculators[calculatorID][calculated][commission][percent]"
                                    )
                                td
                                    input.form-control(
                                    type='text',
                                    readonly='',
                                    placeholder='Valor',
                                    v-model='call(calculated.commission.calculatedValue, 1)'
                                    )
                            tr
                                td
                                    | (( calculated.taxes.name ))

                                td
                                    input.form-control(
                                    type='number',
                                    v-model='calculated.taxes.rate',
                                    name="calculators[calculatorID][calculated][taxes][rate]"
                                    )
                                    br
                                    input.form-control(
                                    type='number',
                                    v-model='calculated.taxes.percent',
                                    name="calculators[calculatorID][calculated][taxes][percent]"
                                    )
                                td
                                    input.form-control(
                                    type='text',
                                    readonly='',
                                    v-model='call(calculated.taxes.calculatedValue, 1)'
                                    )
                            tr
                                td
                                    | (( calculated.variable.name ))
                                td
                                td
                                    input.form-control(
                                    type='text',
                                    readonly='',
                                    v-model='call(calculated.variable.calculatedValue, 1)'
                                    )
                            tr
                                td
                                    | (( calculated.total.name ))
                                td
                                td
                                    input.form-control(
                                    type='text',
                                    readonly='',
                                    v-model='call(calculated.total.calculatedValue, 1)'
                                    )
                            tr
                                td
                                    | (( calculated.sell.name ))
                                td
                                td
                                    input.form-control(
                                    type='text',
                                    readonly='',
                                    v-model='call(calculated.sell.calculatedValue, 1)'
                                    )
                            tr
                                td
                                    | (( calculated.sellFinal.name ))
                                td
                                td
                                    input.form-control(
                                    type='text',
                                    readonly='',
                                    v-model='call(calculated.sellFinal.calculatedValue, 1)'
                                    )
                            tr
                                td
                                    | (( calculated.taxes_margin.name ))
                                td
                                td
                                    input.form-control(
                                    type='text',
                                    readonly='',
                                    v-model='call(calculated.taxes_margin.calculatedValue, 1)'
                                    )
                            tr
                                td (( calculated.kiloPrice.name ))
                                td
                                td
                                    //v-model='calculated.kiloPrice.value',
                                    input.form-control(
                                    type='text',
                                    placeholder='R$ Valor',
                                    v-model='call(calculated.kiloPrice.calculatedValue, 1)',
                                    readonly="true"
                                    )
                            tr
                                td
                                    span(title="Quando está vazio o sistema calcula automaticamente")
                                        | Lucro fixo
                                td
                                td
                                    input.form-control(
                                    type='number',
                                    placeholder='%',
                                    v-model='markup',
                                    name="calculators[calculatorID][markup]"
                                    )
                        tfoot
                            tr
                                td(colspan='4')
            .col-md-7
                fieldset
                    table#table-verde.table.table-striped.table-hover.table-calculadora
                        thead
                            tr
                                th Faturar
                                th Acessórios
                                th Quantidade
                                th Valor
                                th Total
                                th
                                    button.btnPlus(
                                    type="button",
                                    title="Adicionar Acessório",
                                    onclick="showModalAccessory(this)"
                                    )
                                        i.icon-plus-circle2
                        tbody
                            tr(v-for='accessory in accessories', v-if="accessory.print")
                                td
                                    .checkbox
                                        label
                                            input.styled(
                                            type='checkbox',
                                            value=1,
                                            v-model='accessory.taxe',
                                            :name="'calculators[calculatorID][accessories][' + (( accessory.id )) + '][taxe]'"
                                            )
                                td
                                    | (( accessory.name ))
                                td
                                    input.form-control(
                                    type='number',
                                    placeholder='Quantidade',
                                    v-model='accessory.quantity',
                                    :name="'calculators[calculatorID][accessories][' + (( accessory.id )) + '][quantity]'"
                                    )
                                td
                                    input.form-control(
                                    type='number',
                                    placeholder='Valor',
                                    v-model='accessory.price',
                                    :name="'calculators[calculatorID][accessories][' + (( accessory.id )) + '][price]'"
                                    )
                                td
                                    input.form-control(
                                    type='text',
                                    placeholder='Total',
                                    readonly='',
                                    v-model='calc(accessory, 1)'
                                    )
                                td
                                    a.btnMinus(href="#", title="Excluir")
                                        i.icon-minus-circle2
                            tr
                                td
                                    .checkbox
                                        label
                                            input.styled(
                                            type='checkbox',
                                            value=1,
                                            v-model='accessories[accessories.length - 2].taxe',
                                            :name="'calculators[calculatorID][accessories][' + (( accessories[accessories.length - 2].id )) + '][taxe]'"
                                            )
                                td
                                    | (( accessories[accessories.length - 2].name ))
                                td
                                    input.form-control(
                                    type='number',
                                    placeholder='Quantidade',
                                    v-model='accessories[accessories.length - 2].quantity',
                                    :name="'calculators[calculatorID][accessories][' + (( accessories[accessories.length - 2].id )) + '][quantity]'"
                                    )
                                td
                                    input.form-control(
                                    type='number',
                                    placeholder='Valor',
                                    v-model='accessories[accessories.length - 2].price',
                                    :name="'calculators[calculatorID][accessories][' + (( accessories[accessories.length - 2].id )) + '][price]'"
                                    )
                                td
                                    input.form-control(
                                    type='text',
                                    placeholder='Total',
                                    readonly='',
                                    v-model='calc(accessories[accessories.length - 2], 1)'
                                    )
                                td
                            tr
                                td
                                    .checkbox
                                        label
                                            input.styled(
                                            type='checkbox',
                                            v-model='accessories[accessories.length - 1].taxe',
                                            :name="'calculators[calculatorID][accessories][' + (( accessories[accessories.length - 1].id )) + '][taxe]'"
                                            )
                                td
                                    | (( accessories[accessories.length - 1].name ))
                                td
                                    input.form-control(
                                    type='number',
                                    placeholder='Quantidade',
                                    v-model='accessories[accessories.length - 1].quantity',
                                    :name="'calculators[calculatorID][accessories][' + (( accessories[accessories.length - 1].id )) + '][quantity]'"
                                    )
                                td
                                    input.form-control(
                                    type='number',
                                    placeholder='Valor',
                                    v-model='accessories[accessories.length - 1].price',
                                    :name="'calculators[calculatorID][accessories][' + (( accessories[accessories.length - 1].id )) + '][price]'"
                                    )
                                td
                                    input.form-control(
                                    type='text',
                                    placeholder='Total',
                                    readonly='',
                                    v-model='calc(accessories[accessories.length - 1], 1)'
                                    )
                                td
                        tfoot
                            tr
                                td
                                td
                                td

                                td
                                    b SUB-TOTAL
                                td
                                    input.form-control(
                                    type='text',
                                    readonly='',
                                    placeholder='',
                                    v-model='calcTotalAccessories(1)'
                                    )
                                td
                                    button.btnPlus(
                                    type="button",
                                    title="Adicionar Acessório",
                                    onclick="showModalAccessory(this)"
                                    )
                                        i.icon-plus-circle2
                            tr.espaco
                                td
                                td
                                td
                    table#table-vermelho.table.table-striped.table-hover.table-calculadora
                        thead
                            tr
                                th Outros
                                th Quantidade
                                th Valor
                                th Total
                        tbody
                            tr(v-for='delivery in deliveries')
                                td
                                    | (( delivery.name ))
                                td
                                    input.form-control(
                                    type='number',
                                    placeholder='Quantidade',
                                    v-model='delivery.quantity',
                                    :name="'calculators[calculatorID][deliveries][' + (( delivery.id )) + '][quantity]'"
                                    )
                                td
                                    input.form-control(
                                    type='number',
                                    placeholder='Valor',
                                    v-model='delivery.price',
                                    :name="'calculators[calculatorID][deliveries][' + (( delivery.id )) + '][price]'"
                                    )
                                td
                                    input.form-control(
                                    type='text',
                                    placeholder='Total',
                                    v-model='calc(delivery, 1)',
                                    readonly=''
                                    )
                        tfoot
                            tr
                                td
                                    b SUB-TOTAL
                                td
                                td
                                td
                                    input.form-control(type='text', readonly='', v-model='calcTotalDeliveries(1)')
        //- TODO: melhorar exibição
        .row
            .col-md-6
                table.table.table-striped.table-hover.total-gasto
                    thead
                        tr
                            th(colspan='2') Custo Total
                    tbody
                        tr
                            td#widthCust
                            td
                                input.form-control.highlight-cost(type='text', readonly='', v-model='calcTotalTotal(1)')
            .col-md-6
            .col-md-6
                table.table.table-striped.table-hover.total-lucro
                    thead
                        tr
                            th(colspan='2')
                                | (( calculated.profit.name ))
                    tbody
                        tr
                            td
                                input.form-control(
                                type='text',
                                placeholder='%',
                                readonly='',
                                v-model='call(calculated.profit.calculatedValue2, 1)'
                                )
                            td
                                input.form-control(
                                type='text',
                                placeholder='Valor',
                                readonly='',
                                v-model='call(calculated.profit.calculatedValue, 1)'
                                )