extends ./layout.pug

block title
    title Orçamento - Cerebelo Almais

block page-title
    span.text-semibold Calculadora
    |  - Cerebelo Almais

block theme-css-files
    link(href="{{ route('cerebelo.index') }}/css/cerebelo/calculator.css", rel="stylesheet", type="text/css")

block theme-js-files
    script(type="application/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="application/javascript" src="{!! asset('js/cerebelo/pages/calculator.js') !!}?{{ File::lastModified('js/cerebelo/pages/calculator.js') }}")
    script(type="application/javascript", src="{{ route('cerebelo.index') }}/js/plugins/jquery/jQuery.print/jQuery.print.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Orçamento
    li Calculadora
    li.active Calculadora

block content
    // Starting step
    .panel.panel-white
        .panel-heading
            h5.panel-title Dados do Cliente
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
        .panel-body
            .row
                .col-md-6
                    fieldset
                        .form-group
                            label.col-lg-3.control-label Cliente:
                            .col-lg-9.mb-15
                                //-| {!! Form::select(
                                //-| 'people_id',
                                //-| [null => ''] + $people,
                                //-| old('people_id'), [
                                //-| 'class' => 'select select-search',
                                //-| 'data-placeholder' => 'Cliente',
                                //-| 'disabled' => 'true',
                                //-| ]) !!}
                                | {!! Form::text('people_id', $buildingWork->client->name, [
                                | 'class' => 'form-control mb-15',
                                | 'placeholder' => 'Código da obra',
                                | 'readonly' => true
                                | ]) !!}
                        .form-group
                            label.col-lg-3.control-label Obra:
                            .input-group.col-lg-9.mb-15
                                //- TODO: Change para poder selecionar somente obras do cliente e popular dados a direita
                                //-| {!! Form::select(
                                //-| 'id',
                                //-| [null => ''] + $buildingWorks,
                                //-| old('id'), [
                                //-| 'class' => 'select select-search',
                                //-| 'data-placeholder' => 'Obra',
                                //-| 'disabled' => 'true',
                                //-| ]) !!}
                                | {!! Form::text('name', $buildingWork->name, [
                                | 'class' => 'form-control mb-15',
                                | 'readonly' => true
                                | ]) !!}
                                //- TODO: inserir obra em tempo de execução
                                //.input-group-btn
                                //    button.btn.btn-info(type='button', title='Adicionar Obra')
                                //        i.icon-plus3
                        .form-group
                            label.col-lg-3.control-label Orçamento:
                            .col-lg-9
                                .row
                                    .col-md-12
                                        | {!! Form::text('building_work', $buildingWork->id, [
                                        | 'class' => 'form-control mb-15',
                                        | 'placeholder' => 'Código da obra',
                                        | 'readonly' => true
                                        | ]) !!}
                //- TODO
                //-.col-md-6
                    fieldset
                        .form-group
                            label.col-lg-3.control-label Empresa:
                            .col-lg-9
                                .row
                                    .col-md-12
                                        input.form-control.mb-15(type='text', placeholder='Empresa')
                        //-.form-group
                            label.col-lg-3.control-label Nome do Contato:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='Nome do Contato do Cliente')
                        .form-group
                            label.col-lg-3.control-label Email:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='Email de Contato do Cliente')
                        .form-group
                            label.col-lg-3.control-label Telefone:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
            .text-right
                //- TODO: inserir cliente em tempo de execução
                //button.btn.btn-primary.salvar(type='submit')
                //    | Adicionar novo Cliente
                //    i.icon-plus3.position-right
        // /2 columns form


    .panel.panel-white
        .panel-heading
            h5.panel-title Adicionar Calculadora
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
        .panel-body
            form.form-horizontal
                .row
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Linha:
                            .col-lg-9
                                | {!! Form::select(
                                | 'lines',
                                | [null => ''] + $lines,
                                | null, [
                                | 'class' => 'select select-search',
                                | 'data-placeholder' => 'Selecione uma linha',
                                | ]) !!}
                    //-.col-md-6
                        .form-group
                            .col-md-6
                                label.col-lg-3.radio.control-label Tipo:
                                .col-lg-9
                                    label.radio-inline
                                        input.control-primary(type='radio', name='calculator_type', value='0', onclick="changeCalculatorType(this.value)", checked='checked')
                                        | Alumínio
                                    label.radio-inline
                                        input.control-primary(type='radio', name='calculator_type', value='1', onclick="changeCalculatorType(this.value)")
                                        | Vidro
                                    label.radio-inline
                                        input.control-primary(type='radio', name='calculator_type', value='2', onclick="changeCalculatorType(this.value)")
                                        | ACM
                        .form-group
                            label.col-lg-3.control-label Metragem:
                            .col-lg-9
                                input.form-control.mb-15(type='number', placeholder='Metragem', name='line_meters')
                        .form-group
                            label.col-lg-3.control-label Peso:
                            .col-lg-9
                                input.form-control.mb-15(type='number', placeholder='Peso', name='line_kilo')
                .text-right
                    a.btn.btn-success#addLine(title="Adicionar linha ao orçamento", data-route="{{ route('cerebelo.calculator.new') }}", href="#")
                        i.icon-plus3

    // /table
    | {{ Form::model(
    | $buildingWork,
    | array('route' => ['cerebelo.calculator.budget', $buildingWork->id], 'class' => 'form-horizontal', 'id' => 'form-calculators')
    | ) }}
    #calculators
    | {{ Form::close() }}
    .text-right.botao-salvar
        button.btn.btn-primary.salvar(type='button', style="margin-right: 5px;")
            | Salvar
            i.icon-floppy-disk.position-right
        button.btn(type='button', onclick='formPrint()')
            | Imprimir
            i.icon-printer2.position-right
            // /2 columns form

    // Vertical form modal
    #modal_acessorio.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h5.modal-title Adicionar acessório
                .modal-body
                    .form-group
                        .row
                            .col-sm-12
                                label Nome
                                | {!! Form::select(
                                | 'accessory',
                                | [null => ''] + $accessories,
                                | null, [
                                | 'class' => 'select select-search',
                                | 'data-placeholder' => 'Selecione um acessório',
                                | ]) !!}

                .modal-footer
                    button.btn.btn-link(type='button', data-dismiss='modal') Cancelar
                    button.btn.btn-primary(type='button', data-dismiss='modal', onclick='addAccessory()') Adicionar
    // vertical form modal
    script(type="text/javascript").
        startFloatingBox();
        initCalculator('{{ route("cerebelo.index") }}', '{{ $aluminium_price }}');
    script(type="text/javascript")
        | $(function () {
        |    $(".sidebar-control").click();
        |    loadCalculators(
        |        {!! $calculators !!},
        |        {!! $calculators_accessories !!}
        |    );
        |    loadSavedDataListener();
        | });