extends ./layout.pug

block title
    title Financeiro - Custo fixo

block page-title
    span.text-semibold Financeiro
    |  - Custo fixo

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")

    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/dataTable.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.js")
block breadcrumb
    li
        a(href="index.html")
            i.icon-home2.position-left
            |  Home

    li Financeiro
    li Custo fixo
    li.active Listagem
block content

    // Starting step
    .panel.panel-white
        .panel-heading
            h5.panel-title Atualizar custo fixo
            .heading-elements
                ul.icons-list
                    li
                        a(data-action="collapse")
        | {{Form::model($model, array('route' => 'cerebelo.fixed-costs.index', 'class' => 'form-horizontal'))}}
        .panel-body
            .row
                .col-md-6
                    fieldset
                        .form-group
                            label.col-lg-3.control-label Mês:
                            .col-lg-9
                                .row
                                    .col-md-12
                                        | {!! Form::select(
                                        | 'month',
                                        | $months,
                                        | date('m'), [
                                        | 'class' => 'select select-search',
                                        | ]) !!}
                        .form-group
                            label.col-lg-3.control-label Ano:
                            .col-lg-9
                                | {!! Form::select(
                                | 'year',
                                | $years,
                                | date('Y'), [
                                | 'class' => 'select select-search',
                                | ]) !!}
                        .form-group
                            label.col-lg-3.control-label Valor:
                            .col-lg-9
                                | {!! Form::text('cost',
                                | old('cost'), [
                                | 'class' => 'form-control mb-15 formatted',
                                | 'placeholder' => '0,00'
                                | ]) !!}
            .text-right
                button.btn.btn-primary.salvar(type="submit")
                    | Atualizar
                    i.icon-plus3.position-right
        | {{ Form::close() }}
    // /table
    .panel.panel-white
        .panel-heading
            h6.panel-title Histórico
            .heading-elements
                ul.icons-list
                    li
                        a(data-action="collapse")
        .panel-body
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th ID
                        th Mês
                        th Ano
                        th Custo
                        th Status
                tbody
                    tr
                        td XXX
                        td XX
                        td XXXX
                        td R$ XX.XXX,XX
                        td
                            span.label.label-success Atual
    script(type="text/javascript").
        $(function () {
            $(".select").select2();

            $('input.formatted').mask("#.##0,00", {reverse: true});

            dataTableSetup("{{ route('cerebelo.fixed-costs.datatables' )}}", [
                {data: 'id', name: 'id', orderable: true},
                {data: 'month', name: 'month', orderable: false},
                {data: 'year', name: 'year', orderable: false},
                {data: 'cost', name: 'cost', orderable: false},
                {data: 'current', name: 'current', orderable: false}
            ]);
        });