doctype html
html(lang='en')
    include ../_components/cerebelo/head.pug
    body
        include ../_components/cerebelo/main-navbar.pug
        // Page container
        .page-container
            // Page content
            .page-content
                include ../_components/cerebelo/main-sidebar.pug
                // Main content
                .content-wrapper
                    // Page header
                    include ../_components/cerebelo/page-header.pug
                    // /page-header
                    // Content-area
                    .content
                        block content
                            h1 Todo o conteúdo aqui.
                        // Footer
                        include ../_components/cerebelo/footer.pug
                    // /content area
                // /main content
            // /page content
        // /page container