extends ./layout.pug

block title
    title Cadastros - Cadastro de Linha

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Linha

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/line.js")

block breadcrumb
    li
        a(href="index.html")
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li Cadastro de Linha
    li.active Cadastro de Linha
block content
    // Starting step
    .panel.panel-white
        .panel-heading
            h5.panel-title Inserir Nova Linha
            .heading-elements
                ul.icons-list
                    li
                        a(data-action="collapse")
        | {{Form::model($model, array('route' => 'cerebelo.line.index', 'class' => 'form-horizontal'))}}

        | {!! Form::hidden('id', old('id')) !!}
        .panel-body
            .row
                .col-md-6
                    fieldset
                        .form-group
                            label.col-lg-3.control-label Linha:
                            .col-lg-9
                                .row
                                    .col-md-12
                                        | {!! Form::text('name', old('name'), [
                                        | 'class' => 'form-control mb-15',
                                        | 'placeholder' => 'Nome da linha'
                                        | ]) !!}
                        .form-group
                            label.col-lg-3.control-label Tipo:
                            .col-lg-9
                                | {!! Form::select(
                                | 'type',
                                | $calculator_types,
                                | old('type'), [
                                | 'class' => 'select select-search',
                                | 'data-placeholder' => 'Tipo',
                                | ]) !!}
                        .form-group
                            label.col-lg-3.control-label Status:
                            .col-lg-9
                                | {!! Form::select(
                                | 'active',
                                | [null => '', 0 => 'Inativo', 1 => 'Ativo'],
                                | old('active'), [
                                | 'class' => 'select select-search',
                                | 'data-placeholder' => 'Status da linha',
                                | ]) !!}
                .col-md-6
                    fieldset
                        .form-group
                            label.col-lg-3.control-label Custo de produção:
                            .col-lg-9
                                .row
                                    .col-md-12
                                        | {!! Form::number('cost_production', old('cost_production'), [
                                        | 'class' => 'form-control mb-15',
                                        | 'pattern' => '\d+(\.|\,)\d{2}$',
                                        | 'placeholder' => '0,00'
                                        | ]) !!}
                        .form-group
                            label.col-lg-3.control-label Custo de instalação:
                            .col-lg-9
                                .row
                                    .col-md-12
                                        | {!! Form::number('cost_installation', old('cost_installation'), [
                                        | 'class' => 'form-control mb-15',
                                        | 'pattern' => '\d+(\.|\,)\d{2}$',
                                        | 'placeholder' => '0,00'
                                        | ]) !!}
            .text-right
                button.btn.btn-primary.salvar(type="submit")
                    | {{ isset($model->id) ? 'Salvar' : 'Adicionar' }} Linha
                    i.icon-plus3.position-right
                |@if (isset($model->id))
                a.btn.btn-danger(style="margin-left: 5px;", href="{{route('cerebelo.line.index')}}")
                    | Cancelar
                |@endif
        | {{ Form::close() }}
    // /table
    .panel.panel-white
        .panel-heading
            h6.panel-title Linhas Cadastradas
            .heading-elements
                ul.icons-list
                    li
                        a(data-action="collapse")
        .panel-body
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th ID
                        th Linha
                        th Produção
                        th Instalação
                        th Status
                        th.text-center Actions
                tbody
                    tr
                        td XXX
                        td XXXXXXXXXXXXXXXXX
                        td R$ XX.XXX,XX
                        td R$ XX.XXX,XX
                        td
                            span.label.label-success Ativa
                        td.text-center
                            ul.icons-list
                                li.dropdown
                                    a.dropdown-toggle(href="#", data-toggle="dropdown")
                                        i.icon-menu9
                                    ul.dropdown-menu.dropdown-menu-right
                                        li
                                            a.editar.text-info-600(href="#")
                                                i.icon-pencil3
                                                |  Editar
                                        li
                                            a.excluir.text-danger-700(href="#")
                                                i.icon-cross3
                                                |  Excluir
                                        li
                                            a.ativar.text-green-800(href="#")
                                                i.icon-checkmark
                                                |  Ativar
                                        li
                                            a.inativar.text-slate-800(href="#")
                                                i.icon-blocked
                                                |  Inativar
                //tfoot
                //    tr
                //        td.input-filter Linha
                //        td.input-filter Custo
                //        //td.select-filter Status
                //        td
    script(type="text/javascript")
        | window.onload = function(){tableSetup("{{route('cerebelo.line.datatables')}}");}