extends ./layout.pug

block title
    title Cadastros - Cadastro de Produto ou Acessório

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Produto ou Acessório

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/products.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.js")

block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li Cadastro de Produto ou Acessório
    li.active Cadastro de Produto ou Acessório
block content
    // Starting step
    .panel.panel-white
        .panel-heading
            h5.panel-title Inserir Produto
            .heading-elements
                ul.icons-list
                    li
                        a(data-action="collapse")
        | {{Form::model($model, array('route' => 'cerebelo.products.index', 'class' => 'form-horizontal'))}}

        | {!! Form::hidden('id', old('id')) !!}
        .panel-body
            .row
                .col-md-6
                    fieldset
                        .form-group
                            label.col-lg-3.control-label Produto:
                            .col-lg-9
                                .row
                                    .col-md-12
                                        | {!! Form::text('name', old('name'), [
                                        | 'class' => 'form-control mb-15',
                                        | ]) !!}
                        .form-group
                            label.col-lg-3.control-label Tipo:
                            .col-lg-9
                                | {!! Form::select(
                                | 'products_type_id',
                                | $productTypes,
                                | old('products_type_id'), [
                                | 'class' => 'select',
                                | ]) !!}
                .col-md-6
                    fieldset
                        .form-group
                            label.col-lg-3.control-label Custo:
                            .col-lg-9
                                .row
                                    .col-md-12
                                        | {!! Form::text('cost', old('cost'), [
                                        | 'class' => 'form-control mb-15',
                                        | ]) !!}
                .col-md-6
                    fieldset
                        .form-group
                            label.col-lg-3.control-label Status:
                            .col-lg-9
                                | {!! Form::select(
                                | 'active',
                                | [null => '', 0 => 'Inativo', 1 => 'Ativo'],
                                | old('active'), [
                                | 'class' => 'select mb-15',
                                | 'data-placeholder' => 'Status da linha',
                                | ]) !!}
            .text-right
                button.btn.btn-primary.salvar(type="submit")
                    | {{ isset($model->id) ? 'Salvar' : 'Adicionar' }} produto
                    i.icon-plus3.position-right
                | @if (isset($model->id))
                a.btn.btn-danger(style="margin-left: 5px;", href="{{route('cerebelo.products.index')}}")
                    | Cancelar
                | @endif
        | {{ Form::close() }}
    // /table
    .panel.panel-white
        .panel-heading
            h6.panel-title Cadastros
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
            a.heading-elements-toggle
                i.icon-menu
        .panel-body
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th ID
                        th Nome
                        th Tipo
                        th Custo
                        th Status
                        th Actions
                tbody
                    tr
                        td XXX
                        td XXXXXXXXXXXXXXXXXXXXX
                        td XXXXXXXX
                        td R$ XX.XXX,XX
                        td
                            span.label.label-success Ativa
                        td.text-center
                            ul.icons-list
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        i.icon-menu9
                                    ul.dropdown-menu.dropdown-menu-right
                                        li
                                            a.editar.text-info-600(href='#')
                                                i.icon-pencil3
                                                |  Editar
                                        li
                                            a.excluir.text-danger-700(href='#')
                                                i.icon-cross3
                                                |  Excluir
                                        li
                                            a.ativar.text-green-800(href='#')
                                                i.icon-checkmark
                                                |  Ativar
                                        li
                                            a.inativar.text-slate-800(href='#')
                                                i.icon-blocked
                                                |  Inativar
    script(type="text/javascript").
        $('input[name=cost]').mask("#.##0,00", {reverse: true});
    script(type="text/javascript")
        | window.onload = function(){tableSetup("{{route('cerebelo.products.datatables')}}");}