extends ./layout.pug

block title
    title Usuários

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Usuários

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/dataTable.js")

block breadcrumb
    li
        a(href="index.html")
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li Cadastro de Usuários
    li.active Cadastro de Usuários
block content
    // Starting step
    //-.panel.panel-white
        .panel-heading
            h5.panel-title {{ isset($model->id) ? 'Editar' : 'Novo' }} Usuário
            .heading-elements
                ul.icons-list
                    li
                        a(data-action="collapse")
        | {{Form::model($model, array('route' => 'cerebelo.users.index', 'class' => 'form-horizontal'))}}

        | {!! Form::hidden('id', old('id')) !!}
        .panel-body
            .row
                .col-md-6
                    fieldset
                        .form-group
                            label.col-lg-3.control-label Nome:
                            .col-lg-9
                                .row
                                    .col-md-12
                                        | {!! Form::text('name', old('name'), [
                                        | 'class' => 'form-control mb-15',
                                        | 'placeholder' => '',
                                        | 'autocomplete' => 'off'
                                        | ]) !!}
                .col-md-6
                    fieldset
                        .form-group
                            label.col-lg-3.control-label E-mail:
                            .col-lg-9
                                | {!! Form::text('email', old('email'), [
                                | 'class' => 'form-control mb-15',
                                | 'placeholder' => '',
                                | 'autocomplete' => 'off'
                                | ]) !!}
                .col-md-6
                    fieldset
                        .form-group
                            label.col-lg-3.control-label Senha:
                            .col-lg-9
                                .row
                                    .col-md-12
                                        | {!! Form::password('password', old('password'), [
                                        | 'class' => 'form-control mb-15',
                                        | 'placeholder' => '',
                                        | 'autocomplete' => 'off'
                                        | ]) !!}
            .text-right
                button.btn.btn-primary.salvar(type="submit")
                    | {{ isset($model->id) ? 'Salvar' : 'Adicionar' }}
                    i.icon-plus3.position-right
                | @if (isset($model->id))
                a.btn.btn-danger(style="margin-left: 5px;", href="{{route('cerebelo.users.index')}}")
                    | Cancelar
                | @endif
        | {{ Form::close() }}
    // /table
    .panel.panel-white
        .panel-heading
            h6.panel-title Usuários
            .heading-elements
                ul.icons-list
                    li
                        a(data-action="collapse")
        .panel-body
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th ID
                        th Nome
                        th E-mail
                        th.text-center Actions
                tbody
    script(type="text/javascript").
        $(function () {
            dataTableSetup("{{ route('cerebelo.users.datatables' )}}", [
                {data: 'id', name: 'id'},
                {data: 'name', name: 'name'},
                {data: 'email', name: 'email'},
                {data: 'actions', name: 'actions', defaultContent: '-', orderable: false, searchable: false}
            ]);
        });